{% extends "layouts/main.html" %}

{% block pageTitle %}
You cannot continue with this filing  
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot continue with this filing</h1>

    <p class="govuk-body">
      You’ve entered incorrect verification details too many times.  
    </p>

    <p class="govuk-body">You should check you have the correct date of birth and 
      Companies House personal code, and then start again.  
    </p>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Provide identity verification details for a PSC or relevant legal entity again</a>.
    </p>

  </div>
</div>

{% endblock %}
