{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide identity verification details for a PSC or relevant legal entity - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide identity verification details for a person with significant control (PSC)
      </h1>

      <p class="govuk-body">If you are a PSC, use this service to provide your Companies House personal 
        code and verification statement, or to request an extension if you need more time.</p>
        
      <p class="govuk-body">You can also use this service if you're filing on behalf of a PSC.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a Companies House personal code?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is an 11 character code that is given to a person after they have verified their identity for Companies House. 
          <p class="govuk-body">Find out more about <a href="https://prove-your-identity-prototype.herokuapp.com/release2-v5/pre-one-login/guidance">verifying your identity for Companies House</a>.</p>
        </div>
      </details>


 <!--     
      <p class="govuk-body">You can also use this service to:</p> 
      
      <ul class="govuk-list govuk-list--bullet">
      <li>check when a PSC needs to provide their personal code</li>
      <li>request an extension, if a PSC needs more time</li>
      </ul>
 
      <p class="govuk-body">You can use this service if you are a PSC, or you are acting on behalf of one.
      </p>
-->

      <p class="govuk-body">You cannot use this service if a PSC has their personal information protected at Companies House (or is waiting for the results of an application).</p>


      <h2 class="govuk-heading-m">When you need to provide verification details</h2>
        
      <p class="govuk-body">Every PSC has a 14 day period during which they must provide their Companies House personal code and verification statement. The dates of this period are different for each PSC.</p>

      <h3 class="govuk-heading-s">If you were already a PSC on [date]</h3>

      <p class="govuk-body">If you’re both a director and a PSC of the same company, your 14 day period starts from the company’s confirmation statement date.</p>

      <p class="govuk-body">If you're a PSC but not a director of the same company, your 14 day period starts from the first day of your month of birth. For example, if your date of birth is 22 November 1980, your 14 day period will start on 1 November 2025.</p>

      <h3 class="govuk-heading-s">If you were registered as a PSC after [date]</h3>
      <p class="govuk-body">Your 14 day period starts from the day after you were added to the Companies House register.</p>

<div class="govuk-inset-text">
  Check when you need to provide your details by selecting 'Start' and signing in to this service. 
</div>


<!--
      <p class="govuk-body">For more information, read the <a href="https://submit-psc-statement-prototype-8cf558a5f32b.herokuapp.com/deep/v1/psc-idv-guidance">guidance on identity verification requirements for PSCs</a>.</p>
-->

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If you do not comply with identity verification requirements, you will be committing an offence and may have to pay a financial penalty or fine. We may also display a note against your name on the public register.
        </strong>
      </div>


      <h2 class="govuk-heading-m">Requesting an extension</h2>
      
      <p class="govuk-body">
        If you cannot provide your verification details on time, you may be able to request an extension of 14 days. You need to do this before your verification deadline has passed.

<div class="govuk-inset-text">
  Request an extension by selecting ‘Start’ and signing in to this service.
</div>
        

      <h2 class="govuk-heading-m">Before you start</h2>
      
      <p class="govuk-body">To use this service, you'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to sign in, or create sign in details</li>
        <li>the company number</li>
      </ul>

      <p class="govuk-body">If you’re a PSC providing identity verification details, you’ll need your Companies House personal code. You'll also be asked to tick a statement confirming that you’ve verified your identity.</p>

      <p class="govuk-body">It can take up to 10 minutes to provide verification details or request an extension.</p>

      
      {{ govukButton({
        text: "Start",
        href: "create-or-sign-in",
        isStartButton: true
      }) }}

      
      <h2 class="govuk-heading-m">Adapt your device to meet your needs</h2>

      <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">Read advice from AbilityNet on how to adapt your device to meet your needs</a>. For example, changing the background colour or text size.</p>
      


    </div>
  </div>
{% endblock %}
