{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot provide verification details for this company through this service
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot provide verification details for this company's PSCs online</h1>

    <p class="govuk-body">
      The details of this company and its people with significant control (PSC) are protected from being shown on the Companies House register. 
    </p>

    <p class="govuk-body">
      This means you'll need to provide the verification details of the company's PSCs using a paper form.
    </p>

    <p class="govuk-body">
      To request this form, email drs@companieshouse.gov.uk or call 02921 507 370, and provide the company name and number.
    </p>

  </div>
</div>

{% endblock %}
