{% extends "layouts/main.html" %}

{% block pageTitle %}
How would you like to verify your identity with Companies House?
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorRleList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorRleList %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="rle-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select which RLE you are providing verification details for
            </h1>
          </legend>
          <div id="rle-hint" class="govuk-hint">
            This list shows all RLEs that are associated with Big Shop ltd .
          </div>
          <!-- Check for error -->
          {% if errorRleList %}
          <p id="rle-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select which RLE you are providing verification details for
          </p>
          {% endif %} 
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rle" name="rle" type="radio" value="Mega Corp ltd">
              <label class="govuk-label govuk-radios__label" for="rle">
                Mega Corp ltd
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rle-2" name="rle" type="radio" value="Triangle ventures">
              <label class="govuk-label govuk-radios__label" for="rle-2">
                Triangle ventures 
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rle-3" name="rle" type="radio" value="Superstore ltd">
              <label class="govuk-label govuk-radios__label" for="rle-3">
                Superstore ltd
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
