{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the auth code? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorRoPersonalCode %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorRoPersonalCode %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="roPersonalCode">
              What is the Companies House personal code for the new Registered Officer?
            </label>
          </h1>
          <div id="roPersonalCode-hint" class="govuk-hint">
            This is the code they received when they verified their 
            identity. 
          </div>
          <!-- Check for error -->
          {% if errorRoPersonalCode %}
          <p id="roPersonalCode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the personal code for the registered officer
          </p>
          {% endif %} 
          <input class="govuk-input govuk-input--width-10" id="roPersonalCode" name="roPersonalCode" type="text" aria-describedby="roPersonalCode-hint">
        </div>      
              
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
