{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the name of the RO? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorRoRelationship %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorRoRelationship %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="roRelationship">
              What is the relationship of the registered officer to the company?
            </label>
          </h1>
          <div id="roRelationship-hint" class="govuk-hint">
            ...
          </div>
          <!-- Check for error -->
          {% if errorRoRelationship %}
          <p id="roRelationship-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the relationship of the registered officer to the company
          </p>
          {% endif %} 
          <input class="govuk-input govuk-input--width-10" id="roRelationship" name="roRelationship" type="text" aria-describedby="roRelationship-hint">
        </div>      

              
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
