<div class="govuk-grid-column-one-third">
  <aside class="app-related-items" role="complementary">
    <h3 class="govuk-heading-s">Part of</h3>
    <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Set up a limited company: step by step</a></h3>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Check if setting up a limited company is right for you
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Check what a private limited company is</a>.</p>
          <p class="govuk-body">How you set up your business depends on what sort of work you do. It can also affect the 
            way you pay tax and get funding.</p>
          <p class="govuk-body">
            Check if you should set up as one of the following instead:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">self-employed ('sole trader')</a></li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">a business partnership</a></li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">a social enterprise</a></li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">an overseas company</a></li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state">an unincorporated association</a></li>
          </ul>
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Get help deciding how to set up your business</a>.</p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Writing well for specialists
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class='govuk-body'>This is the content for Writing well for specialists.</p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Know your audience
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class='govuk-body'>This is the content for Know your audience.</p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              How people read
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class='govuk-body'>This is the content for How people read.</p>
        </div>
      </div>
    </div>
  </aside>
</div>