//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.account-banner {
    text-align: right;
    font-size: 16px;
    font-family: 'proxima_nova', Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    z-index: 60;
    clear: none;
    background: transparent;
    border-bottom: 1px solid #bfc1c3;
    vertical-align: middle;
    padding-bottom: 20px;
}

//Styles for /includes/user-bar.html

ul#navigation {
    font-size: 0.9em;
    margin-top: 15px;
    text-align: right;
    font-family: 'GDS Transport', Arial, Helvetica, sans-serif;
    display: block;    
    li {
      display: inline;
      font-size: 16px;
      overflow-wrap: break-word;
      a {margin-left: 0.9em;}
    }
  }
  
    .corporate-annotations-text {
      background-color: #eee;
      margin-bottom: 1em !important;
      border: 1px solid black;
    
      .govuk-warning-text__icon {
        margin-left: 0.25em;
      }
    
      .govuk-warning-text__text {
        margin-bottom: 0.1em;
        margin-left: 0.5em;
      }
    }



