//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.account-banner {
    text-align: right;
    font-size: 16px;
    font-family: 'proxima_nova', Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    z-index: 60;
    clear: none;
    background: transparent;
    border-bottom: 1px solid #bfc1c3;
    vertical-align: middle;
    padding-bottom: 20px;
}

.spinner {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  //Styles for user bar

ul#navigation {
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  display: inline-block;
  float: right;
  li {
    display: inline;
    font-family: 'nta', Arial;
    font-size: 16px;
    overflow-wrap: break-word;
    a {margin-left: 0.9em;}
  }
}
.no-wrap {
  white-space: nowrap;
}


.no-border-backlink {
  border: none;
}

.highlight-box {
  background-color: #f9f9f8;
  border-style: solid;
  border-width: thin;
  border-color: #bfc1c3;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.interruption-card {
  padding: 2em 3em;
  background-color: govuk-colour("blue");

  &.interruption-card-paper {
    background-color: govuk-colour("blue");
  }
  @include govuk-media-query($until: tablet) {
    background-image: none !important;
  }

  .govuk-button {
    background-color: govuk-colour("white");
    color: govuk-colour("black");

    &:hover {
      background-color: govuk-colour("mid-grey");
    }
  }

  h1 {
    color: govuk-colour("white");
  }

  .govuk-body,
  .govuk-body-l {
    color: govuk-colour("white");
  }

  ul {
    color: govuk-colour("white");
    width: 75%;
    @include govuk-media-query(mobile) {
      width: 100%;
      margin-top: .5em;
    }

    li {
      h2 {
        padding-bottom: .5em;
        display: inline-block;
        width: 85%;
        margin: 0 0 0 .2em;
        @include govuk-media-query(mobile) {
          width: 80%;
        }
      }

      span {
        vertical-align: top;
      }
    }
  }

  .govuk-link.govuk-link--interrupt {
    color: govuk-colour("black");
  }

  .govuk-link {
    color: govuk-colour("white");
  }

  .button {
    background-color: govuk-colour("white");
    color: $govuk-link-colour;
    font-weight: 700;

    &:focus,
    &:hover {
      background-color: govuk-colour("light-grey");
      color: $govuk-link-colour;
    }
  }

  .circle-white {
    background-color: govuk-colour("white");
    color: govuk-colour("black");
    margin-right: .5em;
    position: relative;
    top: -.3em;
  }
}

.grey-box {
  background-color: #F3F2F1;
  padding: 20px;
}