{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC verification status  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">PSCs verification status</h1>

      <p class="govuk-body">
        We've received verification details for all 
  
        {% if data['companyNumber'] == '12345678' %}
        <strong>Big Shop Ltd</strong>'s
      {% elif data['companyNumber'] == '33335555' %}
        <strong>Little Shop ltd</strong>'s
      {% elif data['companyNumber'] == '66667777' %}
        <strong>Cafe Happy ltd</strong>'s
      {% endif %}
        
        people with significant control (PSCs). The companies PSCs are shown below.
      </p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Smith (Born April 1989)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Susan Robinson (Born May 1989)</td>
            </tr>
        </tbody>
      </table>
  
      <p class="govuk-body">
        If the company has recently notified Companies House of a new PSC, you'll need to wait until the filing is accepted and the new PSC appears on the public register before you can use this service. 
      </p>
  
      <p class="govuk-body govuk-!-margin-bottom-7">
        <a href="../company-number" class="govuk-link">Provide verification details for a PSC of another company</a>.
      </p>

      <h2 class="govuk-heading-m">PSCs that cannot provide verification details yet</h2>

      <p class="govuk-body">These PSCs for Little Shop Ltd must wait until <strong>1 August 2024</strong>. They will have 14 days from this date to provide their verification details.</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mark Wood (Born May 1979)</td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
{% endblock %}
