{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is their Companies House personal code? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorPscPersonalCode %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <span class="govuk-caption-l">{{ data ['pscList']}} (Born April 1989)</span>
    <h1 class="govuk-heading-l">What is their Companies House personal code?</h1>

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorPscPersonalCode %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 

      <!-- Check for error -->
      {% if errorPscPersonalCode %}
        <p id="pscPersonalCode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the Companies House personal code
        </p>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-input--error" id="pscPersonalCode" name="pscPersonalCode" type="text" aria-describedby="pscPersonalCode-hint">
      {% else %}
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="pscPersonalCode" name="pscPersonalCode" type="text" aria-describedby="pscPersonalCode-hint">
      {% endif %} 
      </div> 

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find the Companies House personal code
          </span>
        </summary>
        <div class="govuk-details__text">
          This is an 11 character code that is given to a person after they have verified their identity with Companies House. 
        </div>
      </details>


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
