{% extends "layouts/main.html" %}

{% block pageTitle %}
The details linked to this personal code do not match – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">


      <h1 class="govuk-heading-l">The details linked to this personal code do not match the details on our records</h1>

      <p class="govuk-body">There are a few reasons this might have happened. You cannot continue without fixing the issue.</p>

      <h2 class="govuk-heading-m">Check you’ve entered the correct personal code</h2>
      <p class="govuk-body">Make sure the 11 character code you entered matches the code you received when you verified your identity.</p> 
      <p><a href="psc-details" class="govuk-link">Go back to the previous screen and enter the personal code again</a></p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find the Companies House personal code
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you verified your identity using GOV One Login, you can find your code in your <a href="#">Companies House account</a>. You’ll need to sign in (or create an account) using the same email address you used when verifying your identity.</p>

          <p class="govuk-body">If an authorised agent verified your identity, we sent your code to the email address they provided for you.</p>
        </div>
      </details>


      <h2 class="govuk-heading-m">Check if the PSC's date of birth on the Companies House register is correct</h2>
      <p class="govuk-body">To check the full date of birth we hold for you, someone authorised to file for the company will need to sign in to our <a href="#">WebFiling service</a>.  
      
      <p>If we have the wrong date of birth, they’ll need to submit a filing to correct it. Once it’s been corrected, you can return to this service and try again.</p>  

      <h3 class="govuk-heading-s">Correcting a date of birth</h2>

      <p class="govuk-body">If you were added as a PSC as part of the company’s registration with Companies House, your date of birth can be corrected using the <a href="https://www.gov.uk/government/publications/replace-a-document-not-meeting-requirements-rp01" class="govuk-link">‘Replace a document not meeting requirements (RP01)’ paper form</a>.</p>

      <p class="govuk-body">If you were added as a PSC after the company was registered with us, it can be corrected using our <a href="#">WebFiling service</a>.</p>


      <h2 class="govuk-heading-m">If you verified using an authorised agent, check they entered the correct date of birth</h2>

      <p class="govuk-body">Contact the agent and ask them to check if they entered your details correctly when they told us they'd verified your identity.</p>

      <p class="govuk-body">They can check and correct the details they provided for you using the <a href="#">[service name] service</a>.</p>


    </form>
  </div>
</div>

{% endblock %}
