{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC verification status  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <!-- Check for error -->
      {% if errorPscList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

        <h1 class="govuk-heading-l">PSC identity verification status</h1>
        <p class="govuk-body">
          An overview of which PSCs still need to provide their verification details, and who has done it already. 
        </p>
    
        <!-- If at least one hasn't verifed show unverified title -->
        {% if (data['paul_smith'] != 'verified') 
        or (data['susan_robinson'] != 'verified') %}
          <h2 class="govuk-heading-m">
            PSCs that need to provide verification details
          </h2>
      
          <p class="govuk-body">These PSCs for <strong>Big Shop Ltd</strong> can provide their verification details now. You'll need the company authentication code. You can only provide details for one PSC at a time. 

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I don't have the company authentication code
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">The authentication code is a 6 character code that we give each company to authorise them to file online. 
              <p class="govuk-body">If you do not have it, you'll need to do one of the following:
              <ul class="govuk-list govuk-list--bullet">
                <li>ask someone who does have the authentication code to provide the PSC's personal code</li>
                <li>provide the personal code using the <a href="#">VS01 paper form</a></li>     
              </ul>
            </div>
          </details>

          <p class="govuk-body">You will not be able to request an extension for a PSC once their verification deadline has passed. 
          </p>
        {% endif %}

        <!-- Don't show in unverified section if verified -->
        {% if data['paul_smith'] != 'verified' %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Paul Smith
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <form id="paulSmithProvide" action="auth-code">
                    <!-- Set up psc variables **************************************** -->
                    <input type="hidden" name="pscList" id="pscList" value="Paul Smith" />
                    <input type="hidden" name="pscBithday" id="pscBithday" value="April 1989" />
                    <a href="#" onclick="document.getElementById('paulSmithProvide').submit();">
                      Provide verification details</a>
                  </form>
                </li>
                <li class="govuk-summary-card__action">
                  <form id="paulSmithExtension" action="../extensions/extension-info">
                    <!-- Set up psc variables **************************************** -->
                    <input type="hidden" name="pscList" id="pscList" value="Paul Smith" />
                    <input type="hidden" name="pscBithday" id="pscBithday" value="April 1989" />
                    <a href="#" onclick="document.getElementById('paulSmithExtension').submit();">
                      Request extension</a>
                  </form>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    April 1989
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    <!-- Show if not extension -->
                    {% if data['paul_smith'] != 'extension' %}
                      Verification deadline
                    {% else %}
                    <!-- Show if extension -->
                      Verification deadline extended to
                    {% endif %}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <!-- Show if not extension -->
                    {% if data['paul_smith'] != 'extension' %}
                      19 November 2024
                    {% else %}
                    <!-- Show if extension -->
                      3 December 2024
                    {% endif %}
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Verification status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                      Unverified
                    </strong>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}
        
        <!-- Don't show in unverified section if verified -->
        {% if data['susan_robinson'] != 'verified' %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Susan Robinson
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <form id="susanRobinson" action="auth-code">
                    <!-- Set up psc variables **************************************** -->
                    <input type="hidden" name="pscList" id="pscList" value="Susan Robinson" />
                    <input type="hidden" name="pscBithday" id="pscBithday" value="May 1980" />
                    <a href="#" onclick="document.getElementById('susanRobinson').submit();">
                      Provide verification details</a>
                  </form>
                </li>
                <li class="govuk-summary-card__action">
                  <form id="susanRobinsonExtension" action="../extensions/extension-stop">
                    <!-- Set up psc variables **************************************** -->
                    <input type="hidden" name="pscList" id="pscList" value="Susan Robinson" />
                    <input type="hidden" name="pscBithday" id="pscBithday" value="May 1980" />
                    <a href="#" onclick="document.getElementById('susanRobinsonExtension').submit();">
                      Request extension</a>
                  </form>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    May 1980
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Verification deadline
                  </dt>
                  <dd class="govuk-summary-list__value">
                    19 November 2024
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Verification status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--red">
                      Unverified
                    </strong>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}
      
        <!-- Show verified section title  if either verified -->
        {% if (data['paul_smith'] == 'verified') 
           or (data['susan_robinson'] == 'verified') %}
          <h2 class="govuk-heading-m govuk-!-margin-top-9">PSCs that have already provided verification details</h2>
        {% endif %}

        <!-- Show if verified if verified -->
        {% if data['paul_smith'] == 'verified' %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Paul Smith
              </h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    April 1989
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Verification details provided on
                  </dt>
                  <dd class="govuk-summary-list__value">
                    21 August 2024
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Verification status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                      Verified 
                    </strong>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}

        <!-- Show if verified if verified -->
        {% if data['susan_robinson'] == 'verified' %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Susan Robinson
              </h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    May 1980
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Verification details provided on
                  </dt>
                  <dd class="govuk-summary-list__value">
                    21 August 2024
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Verification status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--green">
                      Details provided 
                    </strong>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        {% endif %}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I can't find the PSC I'm looking for
            </span>
          </summary>
          <div class="govuk-details__text">
          <p class="govuk-body">You can only use this service to provide verification details for PSCs that are shown on the Companies House register. </p>
          <p class="govuk-body">If the company has recently notified Companies House of a new PSC, 
            you must wait until that filing is accepted and the new PSC 
            appears on the public register. </p>
          <p class="govuk-body">
            If a PSC has their personal information protected from being shown on the register, you'll need to provide their verification details using a paper form. To request a form, email <a href="#">dsr@companieshouse.gov.uk</a> or call 02921 507 370, and provide the company name and number.  
          </p>
          </div>
        </details>

    </div>
  </div>
{% endblock %}

