{% extends "layouts/main.html" %}

{% block pageTitle %}
The details linked to this personal code do not match – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">


      <h1 class="govuk-heading-l">The details linked to this personal code do not match the details on our records</h1>

      <p class="govuk-body">This may be for a number of reasons depending on how the identity was verified, or how the PSC's details were entered into our system. You cannot continue without fixing the issue.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
       <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
    It is an offence to intentionally provide someone else's Companies House personal code for this PSC.
      </strong>
</div>

      <h2 class="govuk-heading-s">Check you’ve entered the correct personal code</h2>
      <p class="govuk-body">Make sure the 11 character code you entered matches the code received when you verified your identity. <a href="psc-details" class="govuk-link">Go back to the previous screen and try again</a>.</p>


      <h2 class="govuk-heading-s">Check the PSC's date of birth on the Companies House register</h2>
      <p class="govuk-body">If the date of birth entered into the Companies House register is wrong, you need to contact the company to <a href="rp01-guidance" class="govuk-link">submit the paper corrections forms with the correct date of birth</a>.</p>

      <p class="govuk-body">When the details are up to date on the register, you will be able to return to this service and provide your Companies House personal code.</p>


      <h2 class="govuk-heading-s">If you verified using an authorised agent, check they entered the correct date of birth</h2>
      <p class="govuk-body">If you verified your identity through an authorised agent (such as an accountant), confirm that they typed your details in correctly when they verified your identity.</p>


    </form>
  </div>
</div>

{% endblock %}
