{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorCode %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorCode%}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          Enter the PSC’s Companies House personal code
        </label>
      </h1>
      <div id="event-name-hint" class="govuk-hint">
        This is the code they received when they verified their 
        identity. If they don’t have it to hand, they can search 
        their inbox for ‘Companies House personal code’. If they 
        lost it, they will have to <a href="#" class="govuk-link">verify their identity</a> again.
      </div>
          <!-- Check for error -->
        {% if errorCode %}
          <p id="personalCode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the Companies House personal code.
          </p>
        {% endif %} 
          <input class="govuk-input govuk-input--width-10" id="personalCode" name="personalCode" type="text">
        </div>

      {{ govukButton({
        text: "Continue"
      }) }} 

    </form>
  </div>
</div>

{% endblock %}
