{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC confirmed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <!-- Check for error -->
          {% if errorAnotherPsc %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {% endif %}
    
        <form action="{{currentUrl}}" method="post">

          {{ govukPanel({
            titleText: "Person with Significant Control (PSC) linked to a verified identity"
          }) }}
      
          <p class="govuk-body">We have sent a confirmation email to  
            <b> {{ data['signin-email']}}</b>.</p>   
            
          <h2 class="govuk-heading-m">How to confirm another PSC</h2>

          <p class="govuk-body">Every PSC for a company will need to be linked to a verified identity.</p> 

          <p class="govuk-body">You will need a Companies House personal code for every 
            PSC that you want to link to a verified identity. The PSC will receive this code when they verify their identity for Companies House.</p> 

            <p class="govuk-body">You can</p>
            <ul class="govuk-list govuk-list--bullet">
              {% if data['statementAnne']  
                and data['statementBob'] 
                and data['statementPaul'] %}
                <li><a href="all-psc-linked" class="govuk-link">link another PSC for {{ data ['companyName'] }}</a></li>
              {% else %}
                <li><a href="psc-list" class="govuk-link">link another PSC for {{ data ['companyName'] }}</a></li>
              {% endif %}
              <li><a href="company-number" class="govuk-link">link a PSC for another company</a></li>
            </ul>

        </form>
    
  </div>
</div>

{% endblock %}
