{% extends "layouts/main.html" %}

{% block pageTitle %}
  Verification statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorStatement %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorStatement %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset" aria-describedby="verificationStatement-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Submit PSC confirmation 
              </h1>
            </legend>
            {% if errorStatement %}
            <p id="verificationStatement-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Confirm if the verification statement is correct
            </p>
            {% endif %}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="verificationStatement" name="verificationStatement" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="verificationStatement">
                  I confirm that
      
                  {% if data['companyNumber'] == '12345678' %}
                    Amanda Carr
                  {% elif data['companyNumber'] == '11112222' %}
                    Bob Smith
                  {% elif data['companyNumber'] == '23232323' %}
                    Lisa Robinson
                  {% elif data['companyNumber'] =='44445555' %}
                    {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
                  {% elif data['companyNumber'] =='10101010' %}
                    Amir Malik
                  {% endif %}

                  is a Person with Significant Control (PSC) for

                  <strong>                  
                    {% if data['companyNumber'] == '12345678' %}
                      Big Shop ltd
                    {% elif data['companyNumber'] == '11112222' %}
                      Contruction 123 ltd
                    {% elif data['companyNumber'] == '23232323' %}
                      Dance Warehouse ltd
                    {% elif data['companyNumber'] =='44445555' %}
                      Landscaping ltd
                    {% elif data['companyNumber'] =='10101010' %}
                      Crazy Cuts hairdressing ltd
                    {% endif %}
                  </strong>.
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
            text: "Confirm and continue"
          }) }}  
      </form>

    </div>
  </div>
{% endblock %}
