{% extends "layouts/main.html" %}

{% block pageTitle %}
We can't find a PSC with the details you've entered – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">We can’t find a PSC for that company with these details </h1>

    <p class="govuk-body">
      We couldn’t find a match for a PSC with these exact details:  
    </p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Company name</dt>
        <dd class="govuk-summary-list__value">
          {% if data['companyNumber'] == '12345678' %}
          Big Shop ltd
        {% elif data['companyNumber'] == '11112222' %}
          Contruction 123 ltd
        {% elif data['companyNumber'] == '23232323'%}
          Dance Warehouse ltd
        {% else%} 
          A N Other Company ltd
        {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Company number</dt>
        <dd class="govuk-summary-list__value">{{ data['companyNumber'] }}</dd>
      </div>
    </dl>

    <p class="govuk-body">
      This could be due to a few reasons. Before you try again, please check: 
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>If the company number is correct</li>
      <li>If the company’s PSC records held by Companies House are up to date</li>
    </ul>
    
    {{ govukButton({
      text: "Continue"
    }) }}

  </div>
</div>

{% endblock %}
