{% extends "layouts/main.html" %}

{% block pageTitle %}
User verifies identity – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorSecondPsc %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorSecondPsc %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
      <fieldset class="govuk-fieldset" aria-describedby="secondPsc-hint">
        <!-- Check for error -->
        {% if errorSecondPsc %}
        <p id="secondPsc-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select if you are confirming another PSC for this company
        </p>
        {% endif %} 
      
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l ">
          <h3 class="govuk-fieldset__heading govuk-!-margin-top-5">
            Do you want to confirm another PSC for the same company? 
          </h3>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="secondPsc" name="secondPsc" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="secondPsc">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="secondPsc-2" name="secondPsc" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="secondPsc-2">
              No
            </label>
          </div>

        </div>
      </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
