{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you a director? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">There is a problem</h1>

    <p class="govuk-body">The date of birth entered does not match the information for that Companies House personal code.  
    </p>

    <h2 class="govuk-heading-s">Next steps</h2>

    <p class="govuk-body"><a href="ro-dob" class="govuk-link">Give us the date of birth again.</a>.
    </p>

    <p class="govuk-body"><a href="ro-statement" class="govuk-link">Give us the Companies House personal code again.</a>.
    </p>

    </form>
  </div>
</div>

{% endblock %}
