{% extends "layouts/main.html" %}

{% block pageTitle %}
You cannot confirm this person with significant control yet – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">


      <h1 class="govuk-heading-l">Correcting the PSC date of birth on the Companies House register</h1>

      <p class="govuk-body">To correct the date of birth on the Companies House register, someone authorised to file for this company will need to submit a paper corrections form. They should follow this process.</p>

        <ol class="govuk-list govuk-list--number">
        <li>Print and fill in the RP01 form: <a href="https://www.gov.uk/government/publications/replace-a-document-not-meeting-requirements-rp01">‘Replace a document not meeting requirements’</a>. </li>
        <li>Print and fill in the PSC01 form with the correct date of birth: <a href="https://www.gov.uk/government/publications/give-notice-of-individual-person-with-significant-control-psc01">‘Give notice of individual person with significant control’</a>.</li>
        <li>File the completed paper forms, RP01 and PSC01, with Companies House.</li>
        </ol>


      <p class="govuk-body">Once received, the submitted updates may take up to a couple of weeks to show on the register. When the PSC details are up to date, you will be able to successfully <a href="start" class="govuk-link">provide identity verification details for the PSC</a>.</p>

    </form>
  </div>
</div>

{% endblock %}
