{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide identity verification details for a PSC or relevant legal entity - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide identity verification details for a PSC
      </h1>

      <p class="govuk-body-l">Use this service to provide a Companies House personal 
        code for a person with significant control (PSC).  
      </p>

      <p class="govuk-body"><strong>You can also use this service to:</strong></p> 
      
      <ul class="govuk-list govuk-list--bullet">
      <li>check when a company's PSCs need to provide verification details</li>
      <li>request an extension, if necessary</li>
      </ul>
    
      <p class="govuk-body">You cannot use this service if the PSC has their personal information protected at Companies House (or is waiting for the results of an application).</p>


      <h2 class="govuk-heading-m">When you need to provide verification details</h2>
        
      <p class="govuk-body">This is different for everyone, and depends on whether someone became a PSC of a company before or after identity verification for Companies House was first introduced on [date].</p>

      <p class="govuk-body"><strong>If they became a PSC before [IDV launch date]</strong></p>

      <p class="govuk-body">You need to wait until the company’s confirmation statement date. You will not be able to provide the PSC's personal code before then.</p>

      <p class="govuk-body">You'll have 14 days from the confirmation statement date to provide the PSC's personal code.</p>

      <p class="govuk-body"><strong>If they became a PSC after [IDV launch date]</strong></p>

      <p class="govuk-body">You’ll need to provide the PSC's personal code within 14 days of the date Companies House accepted their PSC notification filing.</p>

      <p class="govuk-body">You can see the deadline dates for a company's PSCs by signing in to this service.</p>    

<!--
      <p class="govuk-body">For more information, read the <a href="https://submit-psc-statement-prototype-8cf558a5f32b.herokuapp.com/deep/v1/psc-idv-guidance">guidance on identity verification requirements for PSCs</a>.</p>
-->

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If a PSC does not comply with identity verification requirements, they will be committing an offence and may have to pay a financial penalty or fine. We may also display a note against their name on the public register.
        </strong>
      </div>


      <h2 class="govuk-heading-m">Requesting an extension</h2>
      
      <p class="govuk-body">
        If a PSC is unable to provide their verification details by the deadline, you may be able to request an extension of 14 days. You need to do this before the PSC's deadline has passed. 

      <p class="govuk-body">To request an extension, you will need to sign in to this service.</p>
        

      <h2 class="govuk-heading-m">Before you start</h2>
      
      <p class="govuk-body">To use this service, you'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to sign into or create a GOV.UK One Login account</li>
        <li>the PSC's Companies House personal code, if you're providing verification details
        <li>the company number for the company they are a PSC of</li>
      </ul>

      <p class="govuk-body">If you're providing verification details, you'll also be asked to confirm a statement that the PSC has verified their identity.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a Companies House personal code?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is an 11 character code that is given to a person after they have verified their identity for Companies House. 
          

          <p class="govuk-body">Find out more about <a href="https://prove-your-identity-prototype.herokuapp.com/release2-v5/pre-one-login/guidance">verifying your identity for Companies House</a>.</p>
        </div>
      </details>




      {{ govukButton({
        text: "Start",
        href: "create-or-sign-in",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
