{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide identity verification details for a PSC or relevant legal entity - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide identity verification details for a PSC, or request an extension
      </h1>

      <p class="govuk-body">Use this service to provide a Companies House personal 
        code for a person with significant control (PSC). This is to confirm that the PSC on our records has verified their identity.
      </p>

      <p class="govuk-body">You can also use this service to:</p> 
      
      <ul class="govuk-list govuk-list--bullet">
      <li>check when a company's PSCs need to provide their personal code</li>
      <li>request an extension, if a PSC needs more time</li>
      </ul>
    
      <p class="govuk-body">You cannot use this service if a PSC has their personal information protected at Companies House (or is waiting for the results of an application).</p>


      <h2 class="govuk-heading-m">When you need to provide verification details</h2>
        
      <p class="govuk-body">This is different for everyone, and depends on whether the PSC was registered with Companies House before or after identity verification requirements were introduced on [date].</p>

      <p class="govuk-body">If they were registered as a PSC before [date], they have 14 days starting from the company’s confirmation statement date. Their personal code cannot be provided before then.</p>

      <p class="govuk-body">If they were registered as a PSC after [date], they have 14 days starting from the date they were registered.</p>

<div class="govuk-inset-text">
  To see the deadline dates for a company's PSCs, select the ‘Start’ button and sign in to this service. 
</div>


<!--
      <p class="govuk-body">For more information, read the <a href="https://submit-psc-statement-prototype-8cf558a5f32b.herokuapp.com/deep/v1/psc-idv-guidance">guidance on identity verification requirements for PSCs</a>.</p>
-->

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If a PSC does not comply with identity verification requirements, they will be committing an offence and may have to pay a financial penalty or fine. We may also display a note against their name on the public register.
        </strong>
      </div>


      <h2 class="govuk-heading-m">Requesting an extension</h2>
      
      <p class="govuk-body">
        If a PSC cannot provide their verification details by their deadline, you may be able to request an extension of 14 days. You need to do this before the PSC's deadline has passed.

<div class="govuk-inset-text">
  To request an extension, select the ‘Start’ button and sign in to this service.
</div>
        

      <h2 class="govuk-heading-m">Before you start</h2>
      
      <p class="govuk-body">To use this service, you'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to sign into a GOV.UK One Login account – if you do not have one, you can create one on the next screen</li>
        <li>the company number</li>
      </ul>

      <p class="govuk-body">If you’re providing verification details for a PSC, you’ll need their Companies House personal code. </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a Companies House personal code?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This is an 11 character code that is given to a person after they have verified their identity for Companies House. 
          

          <p class="govuk-body">Find out more about <a href="https://prove-your-identity-prototype.herokuapp.com/release2-v5/pre-one-login/guidance">verifying your identity for Companies House</a>.</p>
        </div>
      </details>




      {{ govukButton({
        text: "Start",
        href: "create-or-sign-in",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
