{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you an employee? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorEmployee %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorEmployee %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="employee-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Are you an employee of {{ data['pscType']}}?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorEmployee %}
          <p id="employee-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> You must select if you are a employee
          </p>
          {% endif %} 
          <div id="employee-hint" class="govuk-hint">
            Confirm your employment status with the chosen company.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="employee" name="employee" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="employee">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="employee-2" name="employee" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="employee-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
