{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you a director? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">The relevant legal officer must be a director, or equivalent</h1>

    <p class="govuk-body">It is not possible to appoint a non-director as a relevant legal 
      officer of a relevant legal entity. Speak with the director of the company acting as 
      a relevant legal entity before trying again.  
    </p>

    <h2 class="govuk-heading-s">Next steps</h2>

    <p class="govuk-body"><a href="company-number" class="govuk-link">Provide verification details for a PSC in another company.</a>.
    </p>

    </form>
  </div>
</div>

{% endblock %}
