{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the relevant officer's details? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if roDetailsError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l">Relevant officer's details</h1>

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorFirstName %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="firstName">
            First name
          </label>
          <!-- Check for error -->
        {% if errorFirstName %}
          <p id="firstName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the first name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-two-thirds" id="firstName" name="firstName" type="text">
      </div>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="middleName">
          Middle names
        </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="middleName" name="middleName" type="text">
      </div>
    
      <!-- Check for error -->
      {% if errorLastName %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="lastName">
            Last name
          </label>
          <!-- Check for error -->
        {% if errorLastName %}
          <p id="lastName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the last name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-two-thirds" id="lastName" name="lastName" type="text">
      </div>


      <!-- Check for error -->
      {% if errorRoDobDay or errorRoDobMonth or errorRoDobYear %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" role="group" aria-describedby="Dob-hint">
          <label class="govuk-label" for="dob">
            Date of birth
          </label>
          <div id="Dob-hint" class="govuk-hint">
            For example, 27 3 1992.
          </div>
          <div id="Dob-hint" class="govuk-hint">
            This must match the date of birth provided when they verified their identity.
          </div>
          {% if rleMatchError %}
            <p id="Dob-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter the correct date of birth
            </p>
          {% elif errorRoDobDay or errorRoDobMonth or errorRoDobYear%} 
            <p id="Dob-error" class="govuk-error-message">
              {% if yearError %}
              <span class="govuk-visually-hidden">Error:</span> The director must be at least 16 years of age
              {% else %}
              <span class="govuk-visually-hidden">Error:</span> The date must include a day, month and year
              {% endif %} 
            </p>
          {% endif %}
          <div class="govuk-date-input" id="Dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="Dob-day">
                  Day
                </label>
                <!-- Check for error -->
                {% if errorRoDobDay %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="Dob-day" name="Dob-day" type="text">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Dob-day-one" name="Dob-day" type="text">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="Dob-month">
                  Month
                </label>
                <!-- Check for error -->
                {% if errorRoDobMonth %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="Dob-month" name="Dob-month" type="text">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Dob-month" name="Dob-month" type="text">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="Dob-year">
                  Year
                </label>
                <!-- Check for error -->
                {% if errorRoDobYear %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="Dob-year" name="Dob-year" type="text">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="Dob-year" name="Dob-year" type="text">
                {% endif %} 
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Check for error -->
      {% if errorRoPersonalCode or rleMatchError %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label govuk-date-input__label" for="roPersonalCode">
            Companies House personal code
          </label>

          <!-- Check for error -->
          {% if errorRoPersonalCode %}
            <p id="roPersonalCode-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter the personal code for the relevant officer
            </p>
            <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-input--error" id="roPersonalCode" name="roPersonalCode" type="text" aria-describedby="roPersonalCode-hint">
          {% elif rleMatchError%} 
            <p id="roPersonalCode-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter the correct Companies House personal code
            </p>
            <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-input--error" id="roPersonalCode" name="roPersonalCode" type="text" aria-describedby="roPersonalCode-hint">
          {% else %}
            <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="roPersonalCode" name="roPersonalCode" type="text" aria-describedby="roPersonalCode-hint">
          {% endif %} 
      </div> 

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find the Companies House personal code
          </span>
        </summary>
        <div class="govuk-details__text">
          This is an 11 character code that is given to a person after they have verified their identity with Companies House. 
        </div>
      </details>


      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
