{% extends "layouts/main.html" %}

{% block pageTitle %}
Is the RLE a director? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorDirector %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorDirector %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="roDirector-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl">{{ data['firstName']}} {{ data['middleName']}} {{ data['lastName']}}</span>
            <h1 class="govuk-fieldset__heading">
            Are they a director of {{ data['rleList'] }}?
            </h1>
            <div id="ro-director-hint" class="govuk-hint">
             A relevant officer must be a director of the entity, or someone whose roles and responsibilities correspond to that of a company director. 
            </div>
          </legend>
          <!-- Check for error -->
          {% if errorDirector %}
          <p id="roDirector-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if the relevant officer is a director of the entity
          </p>
          {% endif %} 
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="roDirector" name="roDirector" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="roDirector">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="roDirector-2" name="roDirector" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="roDirector-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
