{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the personal code? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorRoPersonalCode %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorRoPersonalCode %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <span class="govuk-caption-xl">{{ data['roName']}}</span>
            <label class="govuk-label govuk-label--l" for="roPersonalCode">
              What is their Companies House personal code?
            </label>
          </h1>

                <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find the Companies House personal code
          </span>
        </summary>
        <div class="govuk-details__text">
          This is an 11 character code that is given to a person after they have verified their identity with Companies House. 
        </div>
      </details>

          <!-- Check for error -->
          {% if errorRoPersonalCode %}
          <p id="roPersonalCode-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the personal code for the relevant officer
          </p>
          {% endif %} 
          <input class="govuk-input govuk-input--width-10" id="roPersonalCode" name="roPersonalCode" type="text" aria-describedby="roPersonalCode-hint">
        </div>      
              
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
