{% extends "layouts/main.html" %}

{% block pageTitle %}
  Why is the name you've provided different?
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">
              <span class="govuk-caption-xl">{{ data ['roName']}}</span>
      <h1 class="govuk-heading-l">Why is the name you've provided different to the relevant officer's verified name?</h1>

      <p class="govuk-body">Check if you need to <a href="ro-details" class="govuk-link">change the name you've provided</a>. If not, tell us why the names are different. We may contact you for more information. </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="whyThisName-hint">       
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">

          </legend>
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whyThisName-3" name="whyThisName" type="radio" value="marriage">
              <label class="govuk-label govuk-radios__label" for="whyThisName-3">
                Legally changed name (for example, marriage or divorce)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whyThisName-4" name="whyThisName" type="radio" value="preferred name">
              <label class="govuk-label govuk-radios__label" for="whyThisName-4">
                Preferred name    
              </label>
            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whyThisName-4" name="whyThisName" type="radio" value="legal">
              <label class="govuk-label govuk-radios__label" for="whyThisName-4">
                Translation or a different naming convention 
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whyThisName-2" name="whyThisName" type="radio" value="prefer">
              <label class="govuk-label govuk-radios__label" for="whyThisName-2">
                  Prefer not to say
              </label>
            </div>

          </div>
        </fieldset>
      </div>
      

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
