{% extends "layouts/main.html" %}

{% block pageTitle %}
  All the PSCS for Cafe Happy ltd have been verified
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot provide verification details for this company's PSCs yet</h1>

    <p class="govuk-body">
     You'll be able to provide verification details for this company's PSCs from:<br> <strong>12 September 2025</strong>  
    </p>

    <p class="govuk-body">
     Return to this service on or after this date.  
    </p>

    <p class="govuk-body">
      Individual PSCs will have 14 days from this date to provide their Companies House personal code.
    </p>

    <p class="govuk-body">
      If this company has any relevant legal entity PSCs, they will have 28 days from this date to provide their relevant officer's details. 
    </p>

    <p class="govuk-body">
      <a href="../company-number" class="govuk-link">Provide verification details for a PSC of another company</a>.
    </p>

  </div>
</div>

{% endblock %}
