{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot request an extension – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <span class="govuk-caption-l">{{ data ['pscList']}} (Born {{ data ['pscBithday']}})</span>
      <h1 class="govuk-heading-l">You cannot request another extension in this service</h1>

      <h2 class="govuk-heading-m">If you've missed your verification deadline</h2>

      <p class="govuk-body">If your deadline has passed, we cannot give you another extension. You should verify your identity and provide your verification details as soon as possible.</p>

      <p class="govuk-body"><a href="#">Guidance on verifying your identity for Companies House</a></p>

<h2 class="govuk-heading-m">If your verification deadline has not passed</h2>

      <p class="govuk-body">You can request another extension. This time, you'll need to provide supporting evidence. <a href="https://submit.forms.service.gov.uk/form/262187/request-an-identity-verification-extension-for-a-person-with-significant-control-psc">Submit your request and supporting evidence using this online form</a>. 
      </p>

    </form>
  </div>
</div>

{% endblock %}
