{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm the identity verification statement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/account-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
   
      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        
          <fieldset class="govuk-fieldset" aria-describedby="individualStatement-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Jack Murray (Born November 1995)</span>
              <h1 class="govuk-fieldset__heading">
                Confirm the identity verification statement
              </h1>
            </legend>
            
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="individualStatement" name="individualStatement" type="checkbox">
                <label class="govuk-label govuk-checkboxes__label" for="individualStatement">
                  I confirm that <strong>Jack Murray</strong> has verified their identity in accordance with the Companies Act 2006.
                </label>
              </div>
            </div>
          </fieldset>
        <br>

        <button class="govuk-button" data-module="govuk-button">
          Confirm and submit
        </button> 

       
      </form>
</div>
    </div>
  
{% endblock %}
