{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC verification status  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">PSC identity verification status</h1>
      <p class="govuk-body">
        This overview shows the 14 day period in which each PSC needs to provide their verification details, and who has done it already. 
      </p>

      <p class="govuk-body">
        You can only provide details for one PSC at a time. You cannot request an extension for a PSC before their 14 day period has started, or after their verification deadline has passed.
      </p>      

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why are there different dates for some PSCs?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The dates of your 14 day period depend on when you were registered as a PSC with Companies House, and whether you're also a director of this company.
            
            <h3 class="govuk-heading-s">If you were already a PSC on [date]</h3>

            <p class="govuk-body">If you’re also a director of this company, your 14 day period starts from the company’s confirmation statement date.</p>
      
            <p class="govuk-body">If you're not also a director of this company, your 14 day period starts from the first day of your birth month. For example, if your date of birth is 22 May 1980, your 14 day period starts on 1 May 2026.</p>
      
            <h3 class="govuk-heading-s">If you were registered as a PSC after [date]</h3>
            <p class="govuk-body">When you were added to the Companies House register, we sent you a letter directing you to verify your identity. Your 14 day period started on the date of that letter.</p>
        </div>
      </details>           


      <h2 class="govuk-heading-m govuk-!-margin-top-7">PSCs that cannot provide verification details yet</h2>
    
      <p class="govuk-body">These PSCs for <strong>Contruction 123 Ltd</strong> must wait for their 14 day period to start before they can provide their identity verification details.</p>
        
      <!-- PSC 1 ******************************************************************* -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Susan Robinson
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                April 1980
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Period start date
              </dt>
              <dd class="govuk-summary-list__value">
                12 August 2025
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Verification deadline
              </dt>
              <dd class="govuk-summary-list__value">
                26 August 2025
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Verification status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                  Unverified
                </strong>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- PSC 2 ******************************************************************* -->
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Mark Smith
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                December 1995
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Period start date
              </dt>
              <dd class="govuk-summary-list__value">
                12 August 2025
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Verification deadline
              </dt>
              <dd class="govuk-summary-list__value">
                26 August 2025
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Verification status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                  Unverified
                </strong>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I can't find the PSC I'm looking for
          </span>
        </summary>
        <div class="govuk-details__text">
        <p class="govuk-body">You can only use this service to provide verification details for PSCs that are shown on the Companies House register. </p>
        <p class="govuk-body">If the company has recently notified Companies House of a new PSC, 
          you must wait until that filing is accepted and the new PSC 
          appears on the public register. </p>
        <p class="govuk-body">
          If a PSC has their personal information protected from being shown on the register, you'll need to provide their verification details using a paper form. To request a form, email <a href="#">dsr@companieshouse.gov.uk</a> or call 02921 507 370, and provide the company name and number.  
        </p>
        </div>
      </details>

    </div>
  </div>
{% endblock %}

