{% extends "layouts/main.html" %}

{% block pageTitle %}
Which PSC are you providing verification details for?  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorPscList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorPscList %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which PSC are you providing verification details for? 
              </h1>
            </legend>

            <!-- Check for error -->
            {% if errorPscList %}
            <p id="psc-type-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select the PSC you providing verification details for
            </p>
            {% endif %} 
            <div id="pscList-hint" class="govuk-hint">These PSCs for
              {% if data['companyNumber'] == '12345678' %}
                Big Shop Ltd
              {% elif data['companyNumber'] == '33335555' %}
                Little Shop Ltd
              {% endif %}
              
              still need to provide their identity verification details. We will not show PSCs that have already done this. You can only provide verification details for one PSC at a time. 
            </div>

            {% if data['companyNumber'] == '12345678' %}
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pscList" name="pscList" type="radio" value="Paul Smith">
                <label class="govuk-label govuk-radios__label" for="pscList">
                  Paul Smith
                </label>
                <div id="pscList-hint" class="govuk-hint govuk-checkboxes__hint">
                  Born in April 1989
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pscList-2" name="pscList" type="radio" value="Susan Robinson">
                <label class="govuk-label govuk-radios__label" for="pscList-2">
                  Susan Robinson
                </label>
                <div id="pscList-2-hint" class="govuk-hint govuk-checkboxes__hint"  value="Born in May 1989">
                  Born in May 1989
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pscList-3" name="pscList" type="radio" value="Matthew Gant">
                <label class="govuk-label govuk-radios__label" for="pscList-3">
                  Matthew Gant
                </label>
                <div id="pscList-3-hint" class="govuk-hint govuk-checkboxes__hint">
                  Born in June 1988
                </div>
              </div>
            </div>

            {% elif data['companyNumber'] == '33335555' %}
            <div class="govuk-radios govuk-!-margin-bottom-9" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pscList" name="pscList" type="radio" value="Cho Ying">
                <label class="govuk-label govuk-radios__label" for="pscList">
                  Cho Ying (Born April 2000)
                </label>
              </div>
            </div>

            <h2 class="govuk-heading-m">PSCs that cannot provide verification details yet</h2>

            <p class="govuk-body">These PSCs for Little Shop Ltd must wait until <strong>1 August 2024</strong>. They will have 14 days from this date to provide their verification details.</p>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Mark Wood (Born April 1989)</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Sarah Clark (Born December 1988)</td>
                </tr>
              </tbody>
            </table>


            {% endif %}
          </fieldset>
        </div>
              
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
