{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC verification status  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorPscList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <h1 class="govuk-heading-l">PSCs verification status</h1>

        <!-- Check for error -->
        {% if errorPscList %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-m">
                PSCs that need to provide verification details
              </h2>
            </legend>

            <!-- Check for error -->
            {% if errorPscList %}
            <p id="psc-type-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select the PSC you providing verification details for
            </p>
            {% endif %} 
            <p class="govuk-body">These PSCs for <strong>Big Shop Ltd</strong> still need to provide their 
              relevant officer's details. You can only provide relevant officer details for one RLE at a time.
            </p>

            <div class="govuk-radios govuk-!-margin-bottom-9" data-module="govuk-radios">
              {% if data['paul_smith'] != 'yes' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pscList" name="pscList" type="radio" value="Paul Smith">
                <label class="govuk-label govuk-radios__label" for="pscList">
                  Paul Smith
                </label>
                <div id="pscList-hint" class="govuk-hint govuk-checkboxes__hint">
                  Born in April 1989
                </div>
              </div>
              {% endif %}

              {% if data['susan_robinson'] != 'yes' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pscList-2" name="pscList" type="radio" value="Susan Robinson">
                <label class="govuk-label govuk-radios__label" for="pscList-2">
                  Susan Robinson
                </label>
                <div id="pscList-2-hint" class="govuk-hint govuk-checkboxes__hint"  value="Born in May 1989">
                  Born in May 1989
                </div>
              </div>
              {% endif %}
            </div>

              <h2 class="govuk-heading-m">PSCs that have already provided verification details</h2>

              <table class="govuk-table govuk-!-margin-bottom-9">
                <tbody class="govuk-table__body">
                  {% if data['paul_smith'] != 'yes' 
                  and data['paul_smith'] != 'yes' %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">No PSCs have provided their identity verification details.</td>
                    </tr>
                  {% endif %}

                  {% if data['paul_smith'] == 'yes' %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Paul Smith (Born April 1989)</td>
                    </tr>
                  {% endif %}

                  {% if data['susan_robinson'] == 'yes' %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Susan Robinson (Born May 1989)</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>

              <h2 class="govuk-heading-m">PSCs that cannot provide verification details yet</h2>

              <p class="govuk-body">These PSCs for <strong>Big Shop Ltd</strong> must wait until <strong>1 August 2024</strong>. They will have 14 days from this date to provide their verification details.</p>

              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Mark Wood (Born May 1979)</td>
                  </tr>
                </tbody>
              </table>

          </fieldset>
          
        </div>
              
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
