{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC verification status  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">PSC identity verification status</h1>
        <p class="govuk-body">
          This company does not have any PSCs. For information on how to identity and record a company's PSCs, <a href="https://www.gov.uk/guidance/people-with-significant-control-pscs" class="govuk-link">read the guidance on people with significant control (PSCs)</a>.
        </p>
    </div>
  </div>
{% endblock %}
