{% extends "layouts/main.html" %}

{% block pageTitle %}
The details linked to this personal code do not match – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">


      <h1 class="govuk-heading-l">The details linked to this personal code do not match the details on our records</h1>

      <p class="govuk-body">You cannot continue without fixing the issue. If you need more time to do this, you can <a href="psc-list">go back and request an extension</a>.</p>

      <h2 class="govuk-heading-m">Check you’ve entered the correct personal code</h2>
      <p class="govuk-body">Make sure the 11 character code you entered matches the code you received when you verified your identity. <a href="psc-details" class="govuk-link">Go back to the previous screen and try again</a></p>


      <h2 class="govuk-heading-m">Check if your date of birth on the Companies House register is correct</h2>
      <p class="govuk-body">To check the full date of birth we hold for you, someone authorised to file for this company needs to sign in to our <a href="#">WebFiling service</a>.  
      
      <p>If the date of birth we hold is wrong, they’ll need to submit a filing to correct it. When it’s been corrected, you can continue with this service.</p>  

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to correct the date of birth
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you were added as a PSC as part of the company’s registration with Companies House, your date of birth can be corrected using the <a href="https://www.gov.uk/government/publications/replace-a-document-not-meeting-requirements-rp01" class="govuk-link">‘Replace a document not meeting requirements (RP01)’ paper form</a>.</p>

          <p class="govuk-body">If you were added as a PSC after the company was registered with us, it can be corrected using our <a href="#">WebFiling service</a>.</p>
        </div>
      </details>


      <h2 class="govuk-heading-m">If you verified using an authorised agent, check they entered the correct date of birth</h2>

      <p class="govuk-body">Contact the agent and ask them to check if they entered your details correctly when they told us they'd verified your identity. They may need to update the details they provided.</p>


    </form>
  </div>
</div>

{% endblock %}
