{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC verification status  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">RLEs verification status</h1>

      <p class="govuk-body">
        We've received verification details for all <strong>Big Shop Ltd</strong>'s 
        RLEs. The companies RLEs are shown below.
      </p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Paul Smith (Born April 1989)</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Susan Robinson (Born May 1989)</td>
            </tr>
        </tbody>
      </table>
  
      <p class="govuk-body">
        If the company has recently notified Companies House of a new RLE, you'll 
        need to wait until the filing is accepted and the new RLE appears on the 
        public register before you can use this service. 
      </p>
  
      <p class="govuk-body govuk-!-margin-bottom-7">
        <a href="../company-number" class="govuk-link">Provide verification details for a PSC or RLE of another company</a>.
      </p>

      <h2 class="govuk-heading-m">RLEs that cannot provide relevant officer details yet</h2>

      <p class="govuk-body">These RLEs for <strong>Big Shop Ltd</strong> must wait until <strong>1 August 2024</strong>. They will have 28 days from this date to provide their relevant officer's details.</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Spicy Food Ltd</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
