{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot request an extension – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <span class="govuk-caption-l">{{ data ['pscList']}} (Born {{ data ['pscBithday']}})</span>
      <h1 class="govuk-heading-l">You cannot request an extension</h1>

      <p class="govuk-body">This is for one of the following reasons:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>your verification deadline has passed</li>
        <li>you have reached the limit for the number of extensions you can request</li>
      </ul>

      <p class="govuk-body">You should verify your identity and provide your personal code and verification statement as soon as possible, even if your deadline has already passed. 
      </p>

      <p class="govuk-body">For information on how to do this, <a href="https://prove-your-identity-prototype.herokuapp.com/release2-v5/pre-one-login/guidance">read the guidance on verifying your identity for Companies House</a>.</p>

    </form>
  </div>
</div>

{% endblock %}
