{% extends "layouts/main.html" %}

{% block pageTitle %}
  Extension request successful – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Extension request successful 
      </h1>
      <div class="govuk-panel__body">
        Verification deadline extended to<br><strong>28 June 2025</strong>
      </div>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company name
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['companyNumber'] == '12345678' %}
            Big Shop Ltd
          {% elif data['companyNumber'] == '33335555' %}
            Little Shop ltd
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['companyNumber']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          PSC name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['pscList']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Extension request reference number
        </dt>
        <dd class="govuk-summary-list__value">
          HDJ2123F
        </dd>
      </div>
    </dl>
  
      <p class="govuk-body">You've been given an additional 14 days to provide your identity verification details. 
      
      <p class="govuk-body">We've sent a confirmation email to  
        <strong> {{ data['signin-email']}}</strong>. We'll also send a letter with this new deadline to the PSC address on our records.</p>   

        <h2 class="govuk-heading-m">Verifying your identity</h2>    
      <p class="govuk-body">You need to verify your identity and provide your identity verification details by the new deadline. 
      <p class="govuk-body"><a href="https://www.gov.uk/guidance/verifying-your-identity-for-companies-house">Read the guidance on verifying your identity for Companies House</a>.</p>

        <h2 class="govuk-heading-m">If you need to request another extension</h2>        
      <p class="govuk-body">You must do so before the new deadline has passed. Next time, your request will not be automatically accepted. It will be reviewed by Companies House, and you'll need to provide evidence to support your request.</p>


      <h2 class="govuk-heading-m">What do you want to do next?</h2>
      <p class="govuk-body">Provide identity verification details or request an extension for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a href="../individual/psc-list" class="govuk-link">another PSC of 
            {% if data['companyNumber'] == '12345678' %}
              Big Shop Ltd
            {% elif data['companyNumber'] == '11112222' %}
              Contruction 123 Ltd
            {% endif %}
          </a></p>
        </li>

        <li>
          <p class="govuk-body"><a href="../company-number" class="govuk-link">a PSC of a different company</a></p>
        </li>
      </ul>
  </div>
</div>

{% endblock %}
