{% extends "layouts/main.html" %}

{% block pageTitle %}
  Extension request has been submitted – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You have already submitted an extension request</h1>

    <h2 class="govuk-heading-m">What do you want to do now?</h2>
    <p class="govuk-body">Provide identity verification details or request an extension for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p class="govuk-body"><a href="../individual/psc-list" class="govuk-link">another PSC of Big Shop Ltd</a></p>
      </li>

      <li>
        <p class="govuk-body"><a href="../company-number" class="govuk-link">a PSC of a different company</a></p>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
