{% extends "layouts/main.html" %}

{% block pageTitle %}
Check the details you've entered – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

 <h1 class="govuk-heading-l">Check the details you've entered</h1>


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "01234567"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "company number"
                }
              ]
            }
          },
          {
            key: {
              text: "PSC's Companies House number"
            },
            value: {
              text: "AB-123-456-78"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "PSC's Companies House number"
                }
              ]
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
