{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm they are a PSC for the company – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukCheckboxes({
              name: "confirmPSC",
              fieldset: {
                legend: {
                  text: "Confirm they are a PSC for the company",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "A hint"
              },
              items: [
                {
                  value: "confirm-psc-statement",
                  text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim quam ipsum, vel tempor felis condimentum vel."
                }
              ]
            }) }}


        {{ govukButton({
          text: "Confirm and continue"
        }) }}  


    </div>
  </div>
{% endblock %}
