{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {{ govukTag({
    classes: "govuk-tag--blue govuk-!-margin-bottom-4",
    text: "version 1"
  }) }}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
       {{serviceName}}<span class="govuk-caption-xl"></span>
      </h1>

      <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="individualScreenLinks">Individual screen links</h2>

      <ul class="govuk-list govuk-list--bullet">
    
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="start">Start</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="user-registers">User registers</a>
        </li> 
           <li>
          <a class="govuk-link govuk-link--no-visited-state" href="user-verifies-identity">User verifies identity</a>
        </li> 
        <li class="govuk-!-margin-bottom-4">
          <a class="govuk-link govuk-link--no-visited-state" href="user-links-identity">User links identity</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="confirm-for">Who are you confirming for?</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="company-number">What is the company number?</a>
        </li>  
         <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-number">What is the PSC's Companies House number?</a>
        </li>       
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-confirm-company">Is this the company you want to confirm?</a>
        </li>   
       <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-date-of-birth">What is the PSC's date of birth?</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-which-confirming">Which PSC are you confirming?</a>
        </li>      
        <li class="govuk-!-margin-bottom-4">
          <a class="govuk-link govuk-link--no-visited-state" href="correct-company">Confirm this is the correct company</a>
        </li>       
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="confirm-yourself">Confirm yourself first</a>
        </li>   
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="confirm-psc-of-company">Confirm they are a PSC for the company</a>
        </li>  
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="confirm-someone-else-is-psc">Confirm someone else is a person with significant control over a company</a>
        </li>   
        <li class="govuk-!-margin-bottom-4">
          <a class="govuk-link govuk-link--no-visited-state" href="psc-confirmed">PSC confirmed</a>
        </li> 
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-cannot-find-details">We can't find a PSC with the details you've entered</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="psc-cannot-confirm-yet">You cannot confirm this person with significant control yet</a>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a class="govuk-link govuk-link--no-visited-state" href="psc-did-not-confirm">You didn't confirm a person with significant control</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="check-details-entered">Check the details you've entered</a>
        </li>
      </ul>

      
      <h2 class="govuk-heading-m" id="emails">Emails</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="emails/application-received">Application received</a>
        </li>
          <li>
          <a class="govuk-link govuk-link--no-visited-state" href="emails/application-accepted">Application accepted</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="emails/application-rejected">Application rejected</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">User research</h2>
      <ul class="govuk-list govuk-list--bullet">      
        <li>
          <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">TBD</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m" id="authScreens">Journey flow</h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="#">TBD</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">
        IDV services
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Links</th>

            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://idv-prototype.herokuapp.com/">Register as an Authorised Corporate Service Provider</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="https://prove-your-identity-prototype.herokuapp.com/">How people verify prototype</a>
            </td>
          
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">
                PROTOTYPE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>




        
    </div>
  </div>





{% endblock %}
