{% extends "layouts/main.html" %}

{% block pageTitle %}
You didn't confirm a person with significant control – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">


      <h1 class="govuk-heading-l">You did not confirm a PSC</h1>

      <p class="govuk-body">You can try again at a later date, before the due date for the verification statement.</p>

      <p class="govuk-body">If you are no longer a PSC, a director of the company will need to update the company records. </p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
