{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC confirmed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "PSC confirmation has been submitted "
    }) }}

    <p class="govuk-body">Thank you for confirming 
      <b>
      {% if data['companyNumber'] == '12345678' %}
        Amanda Carr
      {% elif data['companyNumber'] == '11112222' %}
        Bob Smith
      {% elif data['companyNumber'] == '23232323' %}
        Lisa Robinson
      {% elif data['companyNumber'] =='44445555' %}
        {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
      {% elif data['companyNumber'] =='10101010' %}
        Amir Malik
      {% endif %}
      </b>. 
      We have sent a confirmation email to <span class="govuk-body govuk-!-font-weight-bold">{{ data['signin-email'] }}</span>.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Do you want to confirm another PSC?</h2>
  
    <p class="govuk-body">You will need the Companies House personal code in order to confirm any other PSCs.  

      If they don’t already have one, they need to <a href="#" class="govuk-link">verify their identity</a> to get one. </p>

    <form action="{{currentUrl}}" method="post">
      <input type="hidden" name="confirmFor" id="confirmFor" value="no" />
      {{ govukButton({
        text: "Confirm another PSC"
      }) }}
    </form>
    
  </div>
</div>

{% endblock %}
