{% extends "layouts/main.html" %}

{% block pageTitle %}
Which PSC are you confirming? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

   {{ govukRadios({
            name: "pscConfirming",
            fieldset: {
              legend: {
                text: "Which PSC are you confirming?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "A hint."
            },
            items: [
              {
                value: "Gwyneth Clarke",
                text: "Gwyneth Clarke"
              },
              {
                value: "Anna Brereton",
                text: "Anna Brereton"
              }
            ]
          }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
