{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the PSC's Companies House number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">


      {{ govukInput({
          label: {
            text: "What is the PSC's Companies House number?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "A hint"
          },
          id: "pscs-ch-number",
          name: "pscsCHNumber",
          inputmode: "numeric",
          spellcheck: false
        }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
