{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your password
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorSigninPassword %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorSigninPassword %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="signin-password">
              Enter your password
            </label>
          </h1>
            <!-- Check for error -->
          {% if errorSigninPassword %}
            <p id="signin-password-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter your password
            </p>
          {% endif %} 
            <input class="govuk-input" id="signin-password" name="signin-password" type="text">
        </div>

        <p class="govuk-body"><a href="guidance" class="govuk-link">I’ve forgotten my password</a></p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
