{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm a person with significant control over a company – {{ serviceName }} – GOV.UK Prototype Kite
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Confirm a person with significant control over a company
      </h1>

      <p class="govuk-body">A person with significant control (PSC) is someone 
        who owns or controls your company. They’re sometimes called ‘beneficial owners’.</p>

      <p class="govuk-body">You must identify your PSCs and confirm who they are within 14 
        days of the verification statement due date. The PSC might be you, or someone associated 
        with your company. A company can have one or more PSCs.</p>

      <h2 class="govuk-heading-m">Who is a PSC?</h2>
      
      <p class="govuk-body">An individual or company that has at least one of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>more than 25% of shares in the company</li>
        <li>more than 25% of voting rights in the company</li>
        <li>the right to appoint or remove the majority of the board of directors</li>
      </ul>

      <h2 class="govuk-heading-m">Who can use this service?</h2>

      <p class="govuk-body">You can use this service if you are a PSC or you are doing this on behalf 
        of someone who is a PSC and you are authorised to use their Companies House personal code.</p>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Full guidance on PSCs</a>
      </p>

      <h2 class="govuk-heading-m">What you’ll need </h2>

      <p class="govuk-body">To complete this task, you’ll need to have: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The relevant company registration number, if our records return more than one matching result </li>
        <li>The Companies House personal code for each PSC (if confirming someone else) </li>
      </ul>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">What is a Companies House personal code?</a>
      </p>
      

      {{ govukButton({
        text: "Start",
        href: "create-or-sign-in",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
