{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm a person with significant control over a company – {{ serviceName }} – GOV.UK Prototype Kite
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Confirm a person with significant control over a company
      </h1>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit. Vestibulum non euismod quam, eu mattis 
        turpis. Praesent hendrerit dapibus arcu. Morbi volutpat 
        nibh ligula, eget feugiat tortor aliquam.</p>

      {{ govukButton({
        text: "Start",
        href: "sign-in-to-ch",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">More about submitting a verification statement</h2>

      <p>Read the <a href="#" class="govuk-link">guidance about submitting a verification statement</a>.</p>

    </div>
  </div>
{% endblock %}
