{% extends "layouts/main.html" %}

{% block pageTitle %}
  Provide identity verification details for a PSC or relevant legal entity - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide identity verification details for a PSC or relevant legal entity 
      </h1>

      <p class="govuk-body-l">Use this service to provide a Companies House personal code for an individual person with significant control (PSC), or relevant officer details for a relevant legal entity (RLE).  
      </p>

      <p class="govuk-body"><strong>You can also use this service to:</strong></p> 
      
      <ul class="govuk-list govuk-list--bullet">
      <li>check when a company's PSCs and RLEs need to provide verification details</li>
      <li>request a 14 day extension if you need more time</li>
      </ul>
    
      <p class="govuk-body">You cannot use this service if the PSC has their personal information protected at Companies House (or is waiting for the results of an application)</p>

      <h2 class="govuk-heading-m">When you need to provide verification details</h2>
      
      <p class="govuk-body">You must wait until the company has reached its confirmation statement date before you can provide verification details for its PSCs or RLEs. You will not be able to do it early.</p>
        
      <p class="govuk-body">The deadline for individual PSCs is 14 days after the confirmation statement date, and RLEs have 28 days.</p>

      <p class="govuk-body">You can see the deadline dates for a company's PSCs and RLEs by signing in to this service.</p>    

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If a PSC or RLE does not comply with identity verification requirements, they will be committing an offence and may have to pay a financial penalty or fine. We may also display an annotation against their name on the public register.
        </strong>
      </div>

      <h2 class="govuk-heading-m">Before you start</h2>
      
      <p class="govuk-body">The PSC or relevant officer must <a href="https://prove-your-identity-prototype.herokuapp.com/release1-v8/pre-one-login/guidance">verify their identity</a>, if they haven’t already.</p>

      <p class="govuk-body">To use this service, you'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to sign into or create a GOV.UK One Login account</li>
        <li>the Companies House personal code for the PSC or relevant officer</li>
        <li>the company number for the company they are a PSC or RLE of</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a Companies House personal code?
          </span>
        </summary>
        <div class="govuk-details__text">
          This is an 11 character code that is given to a person after they have verified their identity with Companies House. 
        </div>
      </details>

      <p class="govuk-body"><b>If you're providing verification details for a relevant officer</b></p>
      <p class="govuk-body">You'll also need their full name and date of birth. </p>
      <p class="govuk-body">The relevant officer must be a director of the RLE, or someone whose roles and responsibilities correspond to that of a company director. They must be aged 16 or over.</p>
      <p class="govuk-body">For more information on PSCs, RLEs and relevant officers, <a href="#">read the guidance on people with significant control</a>.</p>

      {{ govukButton({
        text: "Start",
        href: "create-or-sign-in",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
