{% extends "layouts/main.html" %}

{% block pageTitle %}
Director details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="personalCode">
          Enter the Companies House personal code for {{ data['psc']}}
        </label>
      </h1>
      <div id="personalCode-hint" class="govuk-hint">
        This is the code they received when they verified their 
        identity. 
      </div>
          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-3 govuk-input--extra-letter-spacing" maxlength="3" id="personalCode" name="personalCode" type="text" aria-describedby="personalCode-hint">
            -
            <input class="govuk-input govuk-input--width-4 govuk-input--extra-letter-spacing" maxlength="4" id="personalCode" name="personalCode" type="text" aria-describedby="personalCode-hint">
            -
            <input class="govuk-input govuk-input--width-4 govuk-input--extra-letter-spacing" maxlength="4" id="personalCode" name="personalCode" type="text" aria-describedby="personalCode-hint">
          </div>
        </div>

      {{ govukButton({
        text: "Continue"
      }) }} 

    </form>
  </div>
</div>

{% endblock %}
