{% extends "layouts/main.html" %}

{% block pageTitle %}
You cannot confirm this person with significant control yet – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">


      <h1 class="govuk-heading-l">You cannot proceed at this time</h1>

      <p class="govuk-body">You are not due to do this yet. You can try 
        again within the allotted window which is 14 days from the anniversary 
        of the company’s incorporation which is 01 February 2024.
      </p>

      <p class="govuk-body">
        <a href="company-number" class="govuk-link">Select a different company</a>.
      </p>

    </form>
  </div>
</div>

{% endblock %}
