{% extends "layouts/main.html" %}

{% block pageTitle %}
PSC confirmed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <!-- Check for error -->
          {% if errorAnotherPsc %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {% endif %}
    
        <form action="{{currentUrl}}" method="post">

          {{ govukPanel({
            titleText: "All selected PSCs are now linked with a verified identity "
          }) }}
      
          <p class="govuk-body">We have sent a confirmation email to  
            <b> {{ data['signin-email']}}</b>.</p>   
            
          <h2 class="govuk-heading-m">Next steps</h2>

          <p class="govuk-body">You have successfully linked the verified identities 
            of all selected PSCs in <b>Big Shop ltd</b>. If you would like to do the same for PSCs of 
            another company, go back to start and go through the process. You will need 
            the Companies House personal codes for each PSC. </p> 

          <p class="govuk-body">If you are finished, simply close and exit this window.</p> 

          <p class="govuk-body"><a href="company-number" class="govuk-link">Link a PSC for another company</a></p>

        </form>
    
  </div>
</div>

{% endblock %}
