{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm a person with significant control over a company – {{ serviceName }} – GOV.UK Prototype Kite
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide verification details for a PSC or relevant legal entity 
      </h1>

      <p class="govuk-body">Use this service to provide the identity 
        verification details for a company’s person with significant 
        control (PSC) or relevant legal entity (RLE). This needs to 
        be done within 14 days of the anniversary of the company’s 
        incorporation date. For newly appointed PSCs who are RLEs 
        this has to be done within 28 days of the appointment.  
      </p>

      <h2 class="govuk-heading-m">What is a PSC</h2>
      
      <p class="govuk-body">A PSC owns or controls a company. They’re sometimes called 
        ‘beneficial owners’. A PSC has at least one of the following: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>more than 25% of shares in the company</li>
        <li>more than 25% of voting rights in the company</li>
        <li>the right to appoint or remove the majority of the board of directors</li>
      </ul>

      <h2 class="govuk-heading-m">What is a RLE</h2>
      
      <p class="govuk-body">A corporate body or firm that owns or controls a company 
        can also be a ‘person with significant control’ (PSC) known as a relevant 
        legal entity (RLE). RLE status is determined by a number of different criteria 
        including voting rights, rights to share in surplus assets, or the right to 
        appoint or remove the members of the company.  
      </p>

      <h2 class="govuk-heading-m">What is a relevant officer?</h2>
      
      <p class="govuk-body">'Relevant legal entities (RLEs) are now 
        required to provide information about a relevant officer. A relevant officer 
        needs to be:  
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a director of the entity, or someone whose roles and responsibilities correspond to that of a company director </li>
        <li>aged 16 years or over</li>
        <li>have a personal code from verifying </li>
      </ul>

      <h2 class="govuk-heading-m">Who can use this service</h2>

      <p class="govuk-body">This service is for individuals who are: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>new PSCs of a new or existing company</li>
        <li>existing PSCs</li>
        <li>providing verified details on behalf of someone else who is a PSC or a relevant 
          officer of an RLE (provided they are also employees of the RLE) </li>
      </ul>

      <h2 class="govuk-heading-m">What you'll need</h2>

      <p class="govuk-body">To complete this task for each PSC or relevant officer, you will need to: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>verify your identity, if you haven’t already </li>
        <li>have the Companies House personal code for each PSC and relevant officier of the RLE (if confirming someone else)</li>
        <li>the company registration number</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a Companies House personal code?
          </span>
        </summary>
        <div class="govuk-details__text">
          This is a unique code that is received once a person's identity is verified with Companies House. 
        </div>
      </details>

      {{ govukButton({
        text: "Start",
        href: "sign-in-email",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
