{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}




{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ serviceName }}
        </h1>

        {{ govukWarningText({
          text: "This prototype is being actively worked on - things might break or change very quickly",
          iconFallbackText: "Warning"
        }) }}


        <h2 class="govuk-heading-m govuk-!-padding-top-4">
          Prototypes
        </h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Version</th>
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v8/index">V8</a>
              </td>
              <td class="govuk-table__cell">
                May 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  started
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v7/index">V7</a>
              </td>
              <td class="govuk-table__cell">
                April 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Tested
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v6/index">V6</a>
              </td>
              <td class="govuk-table__cell">
                March 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Tested
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v5/index">V5</a>
              </td>
              <td class="govuk-table__cell">
                February 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Tested
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v4/index">V4</a>
              </td>
              <td class="govuk-table__cell">
                January 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Tested
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v3/index">V3</a>
              </td>
              <td class="govuk-table__cell">
                December 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Tested
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v2/index">V2</a>
              </td>
              <td class="govuk-table__cell">
                November 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Tested
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1/index">V1</a>
              </td>
              <td class="govuk-table__cell">
                September 2023
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Tested
                </strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

{% endblock %}
