{% extends "layouts/main.html" %}

{% block pageTitle %}
  Requesting an extension – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <h1 class="govuk-heading-l">You cannot request an extension for {{ data ['pscList']}}</h1>

      <p class="govuk-body">This is because either:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>their verification deadline has passed, or</li>
        <li>they have reached the limit for the number of extensions they can request</li>
      </ul>

      <p class="govuk-body">{{ data ['pscList']}} still needs to verify their identity and provide their Companies House code. They should do this by 14 September 2024.</p>

      <p class="govuk-body">If they do not, Companies House may contact them in the future for more information about why they were unable to provide their verification details.</p>     

      <p class="govuk-body">For information on identity verification, read the <a href="https://prove-your-identity-prototype.herokuapp.com/release2-v5/pre-one-login/guidance">guidance on verifying your identity for Companies House</a>.</p>
           
 <!--          
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If a PSC does not comply with identity verification requirements on time, they will be committing an offence and may have to pay a financial penalty or fine. We may also display a note against their name on the public register.
        </strong>
      </div>
-->
      
      
      {% if data['pscList'] == 'Paul Smith' %}
        <input type="hidden" name="paul_smith" id="paul_smith" value="extension" />
      {% endif %}

      {% if data['pscList'] == 'Susan Robinson' %}
        <input type="hidden" name="susan_robinson" id="susan_robinson" value="extension" />
      {% endif %}

    </form>
  </div>
</div>

{% endblock %}
