{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorExtensionReason %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorExtensionReason %}
        <div class="govuk-form-group govuk-form-group--error">
        {% else %}
        <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Why does {{ data ['pscList']}} need an extension?
              </h1>
            </legend>
            <!--<div id="extensionReason-hint" class="govuk-hint">
              ...
            </div> -->
            <!-- Check for error -->
            {% if errorExtensionReason %}
            <p id="extensionReason-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select why you are requesting an extension
            </p>
            {% endif %} 

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="extensionReason" name="extensionReason" type="radio" value="waiting_for_idv">
                <label class="govuk-label govuk-radios__label" for="extensionReason">
                  They're waiting for the correct documents to arrive so their identity can be verified
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="extensionReason-2" name="extensionReason" type="radio" value="dob_mismatch">
                <label class="govuk-label govuk-radios__label" for="extensionReason-2">
                  They're waiting to verify their identity at the Post Office
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="extensionReason-3" name="extensionReason" type="radio" value="medical">
                <label class="govuk-label govuk-radios__label" for="extensionReason-3">
                  They're undergoing medical treatment that means they cannot verify their identity on time
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="extensionReason-4" name="extensionReason" type="radio" value="rerasonable_adjustments">
                <label class="govuk-label govuk-radios__label" for="extensionReason-4">
                  They are arranging additional support, or for reasonable adjustments to be made, so they can verify their identity
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="extensionReason-5" name="extensionReason" type="radio" value="post_office">
                <label class="govuk-label govuk-radios__label" for="extensionReason-5">
                  Their date of birth needs to be corrected on the Companies House register
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="extensionReason-6" name="extensionReason" type="radio" value="no_one_login">
                <label class="govuk-label govuk-radios__label" for="extensionReason-6">
                  They're experiencing a period of technical downtime or failure that means they cannot verify their identity
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
