{% extends "layouts/main.html" %}

{% block pageTitle %}
  Requesting an extension – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">

      <span class="govuk-caption-l">Paul Smith (Born May 1989)</span>
      <h1 class="govuk-heading-l">Requesting a second extension</h1>

      <p class="govuk-body">You have already been given one 14 day extension.</p>

      <p class="govuk-body">If you need more time, you can request another extension. You must submit your request before your current verification deadline has passed.</p>

      <p class="govuk-body">This time it will be reviewed by a Companies House examiner, who will ask you to provide evidence to support your request.</p>

      <p class="govuk-body">If your request is accepted, the extension will only apply to your role as a PSC of Big Shop Ltd. It will not apply to any other PSC or company director roles you hold.</p>


      

      {{ govukButton({
        text: "Continue",
        href: "/assessment-prototype/second-extension/extension-reason-final"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
