{% extends "layouts/main.html" %}

{% block pageTitle %}
  Requesting an extension – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{currentUrl}}" method="post">
 <span class="govuk-caption-l">Paul Smith (Born April 1989)</span>
      <h1 class="govuk-heading-l">Requesting an extension</h1>

      <p class="govuk-body">If you request an extension, you'll be given an extra 14 days to provide your identity verification details.</p>

      <p class="govuk-body">You must submit your request before the current verification deadline has passed.</p>

      <p class="govuk-body">The extension will only apply to your role as a PSC of Big Shop Ltd, not to any other PSC or company director roles you hold.</p>


      

      {{ govukButton({
        text: "Continue",
        href: "/assessment-prototype/second-extension/extension-reason-final"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
