{% extends "layouts/main.html" %}

{% block pageTitle %}
RLE verification status – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorRleList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
        {% if errorRleList %}
          <div class="govuk-form-group govuk-form-group--error">
        {% else %}
          <div class="govuk-form-group">
        {% endif %} 
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Which RLE are you providing relevant officer details for? 
              </h1>
            </legend>

            <!-- Check for error -->
            {% if errorRleList %}
            <p id="psc-type-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select the Rle you providing verification details for
            </p>
            {% endif %}

            <div id="rleList-hint" class="govuk-hint"> These RLEs for

              {% if data['companyNumber'] == '12345678' %}
                Big Shop Ltd
              {% elif data['companyNumber'] == '33335555' %}
                Little Shop Ltd
              {% endif %}
                              
                still need to provide their relevant officer's details. We will not show RLEs that have already done this. You can only provide relevant officer details for one RLE at a time.
                {{ data['megacorp_ltd']}}
              </div>

            <div class="govuk-radios govuk-!-margin-bottom-7" data-module="govuk-radios">

              {% if data['megacorp'] != 'yes' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rleList" name="rleList" type="radio" value="Megacorp Ltd">
                <label class="govuk-label govuk-radios__label" for="rleList">
                  Megacorp Ltd
                </label>
              </div>
              {% endif %}

              {% if data['omega'] != 'yes' %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rleList-2" name="rleList" type="radio" value="Omega Trading Group">
                <label class="govuk-label govuk-radios__label" for="rleList-2">
                  Omega Trading Group
                </label>
              </div>
              {% endif %}
            </div>

            {% if data['rleList'] %}
            <h2 class="govuk-heading-m">RLEs that have already provided verification details</h2>

            <table class="govuk-table govuk-!-margin-bottom-9">
              <tbody class="govuk-table__body">
                {% if data['megacorp'] == 'yes' %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Megacorp Ltd</td>
                  </tr>
                {% endif %}

                {% if data['omega'] == 'yes' %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Susan Robinson (Born May 1989)</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          {% endif %}

            <h2 class="govuk-heading-m">RLEs that cannot provide relevant officer details yet</h2>

            <p class="govuk-body">These RLEs for Little Shop Ltd must wait until <strong>1 August 2024</strong>. They will have 28 days from this date to provide their relevant officer's details.</p>

            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Spicy Food Ltd</td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
              
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
